*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

.page-header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 156px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}
.page-footer .logo-studio {
  color: #f4f4fd;
}

.navbar {
  margin: 0 auto;
}

.nav-list,
.contact {
  display: flex;
  list-style: none;
  margin: auto;
  padding: auto;
  gap: 40px;
  font-style: normal;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:hover {
  color: #404bbf;
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:hover {
  color: #404bbf;
}

.hero-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #2e2f42;
  min-height: 600px;
}

.title {
  text-align: center;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #fff;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.info-sec {
  min-height: 344px;
  padding: 120px 0;
}

.info-list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1128px;
  gap: 24px;
}

.info-list > li {
  flex: 1;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 32px 0 8px 0;
}

.card-text {
  margin: 0;
}

.sec-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}

.team-sec {
  background: #f4f4fd;
  min-height: 732px;
  padding: 120px 0;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: auto;
  margin: auto;
}

.team-pic {
  display: block;
  width: 100%;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
  width: 264px;
  background-color: #ffffff;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-sec {
  padding: 120px 0;
  border: 1px solid #e7e9fc;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;
  padding: 0;
  gap: 48px 24px;

  max-width: 1128px;
}

.portfolio-card {
  width: 360px;
  border: 1px solid #e7e9fc;
}

.portfolio-pic {
  display: block;
  width: 100%;
}

.portfolio-card .card-title {
  margin: 16px 0 8px 16px;
}

.portfolio-card .card-text {
  margin-left: 16px;
  margin-bottom: 16px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 156px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
